= form_for(@blogpost) do |f|
  - if @blogpost.errors.any?
    #error_explanation
      %h2
        = pluralize(@blogpost.errors.count, "error")
        prohibited this blogpost from being saved:
      %ul
        - @blogpost.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :content
    %br/
    = f.text_area :content
  .field
    = f.label :user_id
    %br/
    = f.number_field :user_id
  .actions
    = f.submit
