- provide(:title, 'Blog')
#News
  %section.clearfix{role: "top"}
    %article
      .two-column.left
        
        - @blogPosts.each do |blogPost|
          .post
            %h2= blogPost.title
            %span.dateline= blogPost.published_at
            = blogPost.content.html_safe
            %p= link_to 'Read More »', blogPost.external_link, class: 'read-more link-blue', :target => "_blank"
        =paginate @blogPosts

      .column 
        .module
          %h3 Recently Added
          %ul.recent-news
            - @recentBlogs.each do |blogPost|
              %li= link_to blogPost.title.truncate(32, separator: ' '), blogPost.external_link