- @title = "About"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.about
			.textblock
				%h1.lined
					Married to Massage
					%span ... Where an Hour Means 60 Minutes!

				.image-left
					= image_tag('thumb-massage1.jpg', alt:'Table Massage')

				%p As a Midwest transplant, you can expect the highest degree of customer service and courtesy from Katrina. She earned her Massage and Bodywork A.A.S. degree from Bryan College in 2009 and has since been practicing a variety of modalities full-time, but she is best known for her deep pressure and chair massage techniques. Katrina is also certified with the State of California – CAMTC: 7353.

				%p
					Katrina is experienced in pain relief and range of motion improvement, specializing in neck and shoulder pain relief as well as
					= link_to "Massage for Frozen Shoulder Syndrome, ", frozen_shoulder_path
					= link_to "Sciatica Massage, ", sciatica_path
					= link_to "Massage for Carpal Tunnel, ", carpal_tunnel_path
					= link_to "Golfer's Elbow & Tennis Elbow, ", elbow_path
					= link_to "Massage for Plantar Fasciitis, ", plantar_fasciitis_path
					runner's knee, headaches and
					= link_to "TMJ Massage", tmj_path
					&#46;

				%p Because Katrina insists on providing you with the best wellness environment for massage therapy in Sacramento, CA, you will experience the powerful abilities that only the most superior quality, therapeutic-grade essential oils – Young Living Essential Oils – can produce.

			.textblock
				%h3 Married to Massage was voted in the TOP 20 massage providers in Sacramento on the KCRA's A-list in 2014 and 2015!

				%p
					With the combination of Katrina's
					%b experience,
					%b education
					and
					%b hometown values,
					you know you are in good hands when you reserve your session with her.

				%p
					Katrina is dedicated to providing safe working environments for her fellow therapists. As a union steward for OPEIU Local 29, she is hoping to address issues that massage therapists have been facing.  There are fewer than 20 Unionized Certified Massage Therapists in Sacramento, CA. Please consider supporting a unionized massage therapists! Read more about our determination to be valued in the corporate setting:
					= link_to "Local 29 Organizes Certified Massage Therapists at Sacramento International Airport", "http://www.opeiu.org/Portals/0/whitecollar/2010-2019/issue502-%20summer%202013.pdf#page=30&zoom=auto,-81,740"

			.textblock
				%p
					If
					%b Pressure
					for your muscles and not a membership sale is what you seek, search no further. Katrina is well-known for providing the pressure your tired muscles seek and the stretching techniques your body requires addressing all your concerns
					%b without a membership
					sales pitch!

			.video.left
				%iframe.youtube{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/cSnBBLARHhU"}

				= render 'layouts/addto'