- @title = "Carpal-Tunnel"
%div{id: @title}

	%section.clearfix{role: "top"}
		%article.clearfix
			%h1.lined
				Massage for Carpal Tunnel Syndrome
				%br
				%span.small Carpal Tunnel Syndrome Symptoms and Causes?
			.textblock
				.image-right
					= image_tag('wherenumbnessandpainsymptoms.jpg', alt:'Carpal Tunnel Syndrome Massage')
				.image-right.clear
					= image_tag('mediannerve.jpg', alt:'Carpal Tunnel Syndrome Massage')
				%p
					If you are experiencing pain and numbness in your thumb and first three fingers, you may be noticing the symptoms of Carpal Tunnel Syndrome. Pain is also known to radiate up your arm as well. When these symptoms first appear at night and subside after shaking your hand, it may be early warning signs of the condition. An exam with your physician is essential to rule out any other conditions and start a treatment plan before surgery may become necessary. Your physician should explain that the medial nerve controls the movement and feeling in your thumb and in all fingers but your pinky. (Your pinky finger is controlled by another nerve). When the compression of the medial nerve occurs, pain and numbness will follow. Anatomically, compression of the nerve happens when the narrow tunnel of the wrist (where the medial nerve and flexor tendons passes) becomes even more narrow due to factors such as healing of a broken bone or bone spurs When repetitive motions causes the flexor tendons to be stressed and inflamed, compression of the medial nerve can also occur. Carpal Tunnel Syndrome is commonly associated with repetitive motions involving the flexor tendons which control the wrist and hand. Incorrectly using your computer mouse or typing using poor hand positioning, can be the culprit Increasing blood flow to your hand becomes imperative with this is the case.

				.clear
				%h4 Treatment:
				.image-right
					= image_tag('exerciseforcarpaltunnelprevention.gif', alt:'Carpal Tunnel Syndrome Massage')
				%p
					Noninvasive treatment plans for Carpal Tunnel Syndrome may be appropriate when diagnosed in the early stages. This can include resting the wrist and icing the wrist to control inflammation reducing nerve compression. A qualified massage therapist can also takes steps to reverse or control the condition by using techniques to relax the flexor tendons and increase the blood flow to the hand. An experienced massage therapist will provide you with appropriate self-care procedures to follow including stretches that will assist you in healing.

				.clear
				%h4 Closing Notes:
				.image-right
					= image_tag('rightwrongholdingamouse.jpg', alt:'Carpal Tunnel Syndrome Massage')
				.image-right.clear
					= image_tag('rightwrongtyping.jpg', alt:'Carpal Tunnel Syndrome Massage')
				%p
					Other known contributory factors for the Carpal Tunnel Syndrome include obesity, hypothyroidism, lupus, diabetes, rheumatoid arthritis and even pregnancy. Speak to your physician before treating the symptoms.

				%p
					After speaking with your doctor and health insurance provider, it may be determined that your massage treatment is covered under your medical coverage. If this is the case, inform your Married to Massage therapist and a receipt will be emailed to you to submit to your insurance company. While we do not accept insurance at this time,
					%span.purple we do accept HSA cards
					for your convenience.
				%p
					For focused massage therapy on the affected areas and to realize the benefit of a full-body massage, it is recommended that you
					=link_to "schedule a 90-minute Diamond-Grade Deep Tissue & Bodywork session", reserve_path, target: "_blank"

				=link_to "Reserve Now", reserve_path, target: "_blank", class: "button"

				= render 'layouts/addto'