- @title = "Home"
#loader
  = image_tag ('logo-gif.gif'), id: "loader-gif"

%div{id: @title}
  %section.clearfix{role: "main"}
    %article.intro.clearfix
      .item.mobilenoshow
        =image_tag ('portrait.jpeg')
      .item.text-box
        %h1
          %span
            %i When in Pain 
          %br
          Trust Married To Massage
        %p We are committed to your health and well-being. We use the most vetted techniques to loosen sore muscles, sooth pinched nerves, calm inflamed joints and bring you back to your peak.
      .item.text-box
        %h2 Pain Management: 
        %p TMJ, Sciatica, headaches, stress relief.
        .todo link to pages for TMJ, Sciatica, etc 
        %h2= link_to "Signature Service:", services_path 
        %p 
          Vow to Relax with hot stones, aromatherapy utilizing therapeutic-grade essential oils, deep tissue and sports massage in the heart of Midtown Sacramento, CA, with  convenient,
          = link_to "Online Scheduling.", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
    %article.home-text.clearfix
      %h2 Put Your Faith in Married to Massage
      %p 
        We are here to offer you pain relief, increased range of motion and relaxation with the customer service you deserve!  
        Your journey to full health begins with our
        = link_to "Signature Services", services_path 
        which can be conveniently scheduled through our
        = link_to "Online Scheduler.", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
        You will receive a full 60-minute massage for your hour of time when you reserve with KATRINA.  
        We are located at a convenient Midtown Sacramento, CA Location: the corner of
        = link_to "21st & I streets", venue_path
        &#151; where FREE 2-hour street parking is available on I Street.

    %article.affiliates.clearfix
      .ext-logo.yleo
        =link_to(image_tag("ext-logo-yleo.png"), yleo_path)
      .ext-logo.abmp
        =link_to(image_tag("ext-logo-abmp.png"), "http://www.abmp.com/")
      .ext-logo.alist
        =link_to(image_tag("ext-logo-alist.png"), "http://kcra.cityvoter.com/married-to-massage/biz/670341")
      .ext-logo.opeiu
        =link_to(image_tag("ext-logo-opeiu.png"), "http://www.opeiu.org/")
      .ext-logo.spafinder
        =image_tag("ext-logo-spafinder-wellness365.png")
        