- @title = "Services"
%div{id: @title}

  %section.clearfix{role: "top"}
    %article.clearfix
      %h1.lined Menu of Massage Services Through Married to Massage
      .flourish
        = image_tag('flouish-light.png', alt:'flourish')
      .textblock
        %p
          Married to Massage provides customized 90 and 60 minute massages packages. We offer client-acclaimed massage services in the Sacramento, CA area. Scheduling is a snap and Katrina always has your well-being at the forefront of her mind.
        %p
          All massages/bodywork treatments include therapeutic-grade essential oils and hot towels. You can expect a full 60 minute massage when you book for an hour.
        %p
          Please respect our profession. We reserve the right to stop service at any time.
        %p
          Should you cancel or change within 24-hours of scheduled appointment reservation, you may be required to pay for the appointment and/or prepay for future appointments and/or forfeit your gift certificate.
        %h3 InterOral TMJ Disorder Massage
        %p
          40 full minutes of tigger point therapy and muscle stripping specific to muscles of the jaw both InterOral (inside the mouth) and facial, neck and pectorals. Available as a 40 minute massage or ADD 20 minutes of relaxation massage by choosing the 60 minute option.
        %p.small
          %i Prices subject to change without notice.

        -# %dl.order-bar
        -#   %dt.service
        -#     =link_to "90 Minute Total Package Deal", reserve_path
        -#   %dd.price &#36;125
        -# %dl.order-bar
        -#   %dt.service
        -#     =link_to "90 Minute Total Massage Deal", reserve_path
        -#   %dd.price &#36;100
        -# %dl.order-bar
        -#   %dt.service
        -#     =link_to "60 Minute Total Massage Deal", reserve_path
        -#   %dd.price &#36;75
        %dl.order-bar
          %dt.service
            =link_to "Cherished Chair massage", chair_massage_path
          %dd.price
            =link_to "Contact for Quote", chair_massage_path, style: "color: white;"

    %article.more-menu
      .col-3

        .service-box
          .hex-icon
            = image_tag('diamond-hex.png', alt:'diamond grade massage icon')
          %h3 Diamond-Grade Deep-Tissue
          %p
            Designed to remove severe tension, deep tissue massage is a technique used to relieve both muscles and connective tissue below the surface. It helps to improve range of motion using stretches to help your body feel freer and stronger. A great massage for those with active lifestyles.

          %dl.order-bar
            %dt.service
              =link_to "90 Minute Focus", reserve_path
            %dd.price &#36;97
          %dl.order-bar
            %dt.service
              =link_to "60 Minute Massage", reserve_path
            %dd.price &#36;77

        .service-box
          .hex-icon
            = image_tag('candle-hex.png', alt:'relaxation massage icon')
          %h3 Registered for Relaxation
          %p
            Massage oil or cream is used with smooth, gliding strokes. Swedish massage uses firm but gentle pressure to promote relaxation, ease muscle tension and create other health benefits. This classic massage will ease stress and allow you to slip into a calm state of relaxation.

          %dl.order-bar
            %dt.service
              =link_to "90 Minute Focus", reserve_path
            %dd.price &#36;87
          %dl.order-bar
            %dt.service
              =link_to "60 Minute Massage", reserve_path
            %dd.price &#36;67

        .service-box
          .hex-icon
            = image_tag('stone-hex.png', alt:'hot stone massage icon')
          %h3 Vow to Relax
          %p Hot Stone Therapy melts away tension, eases muscle stiffness, and increases circulation and metabolism. This session incorporates soothing hot stones into the massage to allow for deeper relaxation.

          %dl.order-bar
            %dt.service
              =link_to "90 Minute Focus", reserve_path
            %dd.price &#36;102
          %dl.order-bar
            %dt.service
              =link_to "60 Minute Massage", reserve_path
            %dd.price &#36;82

        .more-services
          %dl.order-bar
            %dt.service
              =link_to "New Client 60 Minute Relaxation Massage", reserve_path
            %dd.price &#36;57
          -# %dl.order-bar
          -#   %dt.service
          -#     =link_to "40 Minute Bikers Bum", reserve_path
          -#   %dd.price &#36;47
          -# %dl.order-bar
          -#   %dt.service
          -#     =link_to "30 Minute Narley Neck & Shameful Shoulders", reserve_path
          -#   %dd.price &#36;27
          -# %dl.order-bar
          -#   %dt.service
          -#     =link_to "40 Minute Proposal Pampering", reserve_path
          -#   %dd.price &#36;37

      = render 'layouts/addto'