= form_for(@announcement) do |f|
  - if @announcement.errors.any?
    #error_explanation
      %h2
        = pluralize(@announcement.errors.count, "error")
        prohibited this announcement from being saved:
      %ul
        - @announcements.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :content
    %br/
    = f.text_area :content
  .field
    = f.label :user_id
    %br/
    = f.number_field :user_id
  .actions
    = f.submit
