- @title = "Ecosystems"
- @grouping = "Customers"
%div{id: @title}
	%section.clearfix{role: "top"}
		%article#ecosystems
			.container-div
				.card
					.client-thumb= image_tag ('network-icon-circle.png')
					.description
						%h2.sector Networking &amp; Carrier
						%p Data center location and connectivity availability is paramount for networks and carriers. That’s why Netrality has strategically located our facilities in the most fiber-dense markets to allow the best opportunity for interconnectivity for your company and your clients. We are committed to the improvement of your connectivity in domestic networks, as well as global networks.
				.card
					.client-thumb= image_tag ('cloud-icon-circle.png')
					.description
						%h2.sector Cloud &amp; IT
						%p As data storage needs for consumers continue to grow exponentially, so does the need for uninterrupted Cloud & IT Performance. And that performance is entirely dependent on the fast and reliable direct connections to global networks. The Interconnection Services offered by Netrality will give direct access to all key global connections that your business needs to provide unprecedented service to your customers.
				.card
					.client-thumb= image_tag ('mobile-icon-circle.png')
					.description
						%h2.sector Mobile
						%p In the rapidly growing mobile sector, customer requirements are constantly changing. Netrality can provide the infrastructure needed to stay competitive. 
				.card
					.client-thumb= image_tag ('digital-icon-circle.png')
					.description
						%h2.sector Digital Media
						%p Online media streaming is growing at staggering rates. And, Netrality understands the need for flexibility in ramping up capacity as this demand grows.
				.card
					.client-thumb= image_tag ('business-icon-circle.png')
					.description
						%h2.sector Enterprise
						%p Enterprise businesses are constantly evolving. Netrality caters towards these company opportunities by offering flexible options when you are looking to expand or increase performance.
				.card
					.client-thumb= image_tag ('health-icon-circle.png')
					.description
						%h2.sector Financial/Healthcare
						%p Netrality understands the complex and sensitive needs of Financial Institutions. Netrality provides ultra-high security protection for clients that help protect sensitive information and keep them in compliance with regulatory laws.
 
