%footer
  %span
    %span.reserve
      To Reserve your appointment utilize our
      = link_to "Online Scheduler", "https://www.styleseat.com/marriedtomassage-sacramento-ca", target: "_blank"
      or email
    = link_to "marriedtomassage@gmail.com", "mailto:marriedtomassage@gmail.com"

  %nav.tertiary
    %span.barleft &#124;
    %ul
      - if logged_in?
        %li= link_to "Profile", current_user
        - if current_user && current_user.admin?
          %li= link_to "Admin", '/admin'
        %li= link_to "Log out", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Log in", new_user_session_path
    %span.barright &#124;

  %span= link_to "Back to Top", "#top", class: "to-top"