%header.clearfix{:role => "banner"}
  .logo
    = link_to "Home", root_path, id: "logo"

  .menu
    .social-media-links
      %ul
        %li= link_to "Facebook", "https://www.facebook.com/MarriedToMassage", title: "facebook"
        %li= link_to "Twitter", "https://twitter.com/MarriedMassage", title: "twitter"
        %li= link_to "Pinterest", "https://www.pinterest.com/midwestfd/", title: "pinterest"
        %li= link_to "Linkedin", "https://www.linkedin.com/company/married-to-massage", title: "linkedin"
        %li= link_to "Google+", "https://plus.google.com/+MarriedToMassageSacramento/posts", title: "googleplus"
        / %li= link_to "Yelp", "http://www.yelp.com/biz/married-to-massage-sacramento", title: "yelp"

    .call
      %span 
        Use Our 
        = link_to "Online Scheduler", "https://www.styleseat.com/marriedtomassage-sacramento-ca"
        / = link_to "Online Scheduler ", schedule_path
        or Call: 
        =link_to "916.467.HEAL (4235)", "tel:+19164674235"
        
    %nav#nav.main
      %ul
        %li.dropdown
          = link_to "About", about_path
          %ul.secondary
            %li= link_to "YLEO", yleo_path
            %li= link_to "Guest Book", guestbook_path
            %li= link_to "Testimonials", testimonials_path
        %li.dropdown
          = link_to "Menu", menu_path
          %ul.secondary
            %li= link_to "Specials", specials_path
            %li= link_to "Gift Certificates", giftcertificates_path
        %li.dropdown
          = link_to "Schedule", schedule_path
          %ul.secondary
            %li= link_to "Venue", venue_path
            %li= link_to "Reservation", reservation_path
        %li
          = link_to "Announcements", announcements_path
        %li
          = link_to "Contact", contact_path
