<header class="clearfix" role="banner">
  <div class="logo">
    <%= link_to "Home", root_path, id: "logo" %>
  </div>
  <nav class="main">
    <ul>
      <li class="dropdown"><%= link_to "About", '#' %>
        <ul class="secondary">
          <li><%= link_to "Why Netrality", why_netrality_path %></li>
          <li><%= link_to "Leadership", leadership_path %></li>
          <li><%= link_to "Colocation", colocation_path %></li>
        </ul>
      </li>
      <li class="dropdown"><%= link_to "Locations", locations_path %>
        <ul class="secondary">
          <li><%= link_to "Chicago", chicago_path %></li>
          <li><%= link_to "Houston", houston_path %></li>
          <li><%= link_to "Kansas City", kansas_city_path %></li>
          <li><%= link_to "New York", new_york_path %></li>
          <li><%= link_to "philadelphia", philadelphia_path %></li>
        </ul>
      </li>
      <li class="dropdown"><%= link_to "Customers", customers_path  %>
        <ul class="secondary">
          <li><%= link_to "Ecosystems", ecosystems_path %></li>
          <li><%= link_to "Customer Portal", "#", class: "gray-out" %></li>
        </ul>
      </li>
      <li class="dropdown"><%= link_to "News", news_path  %>
        <ul class="secondary">
          <li><%= link_to "Blog", blog_path %></li>
        </ul>
      </li>
      <li><%= link_to "Contact", contact_path  %></li>
    </ul>
  </nav>
</header>